@{
    ViewData["Title"] = "Oops";
}

<div class="accessdenied">
    <label>Oops</label>
    <label>Looks like you lost your way, here are some quick links back: </label>
    <div class="accessdenied_links">
        <a href="/Home/Index">Home</a>
        <a href="/Home/Locations">Locations</a>
        <a href="/Booking/MakeBooking">Make a booking</a>
    </div>
</div>