//Media Query Sizes
$mobile: 768px;
$tablet: 1200px;
$desktop: 1920px;

//Colors
$green: #05d405;
$greenhover: #61d661;
$lightred: #c28383;
$red: #c90000;
$redhover: #c53636;
$blue: #1C4368;
$bluehover: #355877;
$lightblue: #245787;
$lightbluehover: #3e6486;
$linkblue: #007BFF;
$linkbluehover: #439eff;
$teal: #27a37e;
$darkgrey: #5d5d5d;
$bluebell: #979fd0;
$buttonblue: #1074e6;
$buttonbluehover: #4d91df;